<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" lang="en">
</head>

<body>
  <%= yield %>
  <p>
    There are <%= @users.count %> users with a total of <%= count_interests(@users) %> interests.
  </p>
</body>
</html>

